.batch-page .contents {
    -fx-padding: 0 20px 20px 20px;
    -fx-spacing: 20px;
}

.batch-page .controls {
    -fx-alignment: center-right;
    -fx-padding: 20px 0;
}

.batch-page .controls .btn {
    -fx-pref-width: 175px;
}

.batch-page .import {
    -fx-border-color: -wa-gray-light;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-padding: 20px;
    -fx-alignment: center;
    -fx-spacing: 10px;
}

.batch-page .import:drag-over {
    -fx-background-color: -wa-primary-light;
    -fx-border-color: -wa-primary;
    -fx-border-style: segments(15, 15);
}

.batch-page .import-icon .ikonli-font-icon {
    -fx-icon-size: 40px;
}

.batch-page .import-title {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

.batch-page .import-subtitle {
    -fx-font-size: 1.25em;
}

.batch-page .search {
    -fx-alignment: center-left;
}

.batch-page .search-title {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-underline: true;
}

.batch-page .search-bar {
    -fx-pref-width: 314px;
    -fx-pref-height: 44px;
    -fx-padding: 6 11;
}

.batch-page .search-bar .right-pane .ikonli-font-icon {
    -fx-icon-size: 24px;
}
