@import "root.css"

.btn {
    -fx-pref-height: 40px;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-border-style: solid;
    -fx-font-size: 1em;
    -fx-cursor: hand;
}

/* Primary Button */
.btn--primary {
    -fx-background-color: -wa-primary;
    -fx-effect: -wa-shadow2;
    -fx-text-fill: -wa-white;
    -fx-border-width: 0px;
}

.btn--primary:hover {
    -fx-background-color: -wa-primary-dark;
    -fx-effect: -wa-shadow1;
}

.btn--primary:disabled {
    -fx-background-color: -wa-gray-lighter;
    -fx-text-fill: -wa-gray-dark;
    -fx-effect: -wa-shadow0;
    -fx-cursor: disappear;
}

/* Secondary Button */
.btn--secondary {
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-color: -wa-primary;
    -fx-text-fill: -wa-primary;
}
.btn--secondary:hover {
    -fx-background-color: -wa-primary-light;
    -fx-text-fill: -wa-primary-dark;
}
.btn--secondary:disabled {
    -fx-cursor: disappear;
    -fx-text-fill: -wa-gray;
    -fx-border-color: -wa-gray-light;
    -fx-border-width: 2px;
}
