.file-data-cell {
    -fx-padding: 10px;
}

.file-data-cell__title {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: -wa-gray-light;
    -fx-padding: 0 0 10px 0;
}

.file-data-cell__title .label {
    -fx-text-fill: -wa-primary;
    -fx-font-weight: bold;
}

.file-data-cell__chapter {
    -fx-max-width: 100px;
}

.file-data-cell__options {
    -fx-padding: 10px 0 0 0;
}

.file-data-cell__options .label {
    -fx-font-weight: normal;
}

.file-data-cell__dropdown {
    -fx-max-width: infinity;
}
