.file-data-filter {
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-background-color: -wa-primary-light;
    -fx-effect: -wa-shadow2;
}

.file-data-filter .label {
    -fx-font-weight: bold;
}

.file-data-filter__chapter {
    -fx-max-width: 100px;
}

.file-data-filter__dropdown {
    -fx-max-width: infinity;
}
