.login-dialog {
    -fx-pref-width: 400px;
    -fx-pref-height: 330px;
    -fx-background-color: -wa-white;
    -fx-padding: 10px;
    -fx-spacing: 15px;
}

.login-dialog .header {
    -fx-spacing: 10px;
}

.login-dialog .title {
    -fx-text-fill: -wa-primary;
    -fx-font-size: 2em;
    -fx-font-weight: bold;
}

.login-dialog .subtitle {
    -fx-font-size: 1.25em;
}

.login-dialog .wa-text-field {
    -fx-pref-height: 44px;
}

.login-dialog .actions {
    -fx-spacing: 10px;
}

.login-dialog .actions .btn {
    -fx-max-width: infinity;
    -fx-pref-height: 52px;
    -fx-font-size: 1.5em;
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
}