@import "root.css"
@import "buttons.css"

.main {
    -fx-pref-width: 800px;
    -fx-pref-height: 600px;
    -fx-background-color: -wa-white;
}

.main__file-list {
    -fx-background-color: -wa-white;
    -fx-padding: 20px 0 0 0;
    -fx-background-insets: 20px 0 0 0;
}

.main__file-list .list-cell:selected {
    -fx-background-color: transparent;
    -fx-background: -fx-base;
}

.main__drop-files {
    -fx-alignment: center;
}

.main__drop-files .label {
    -fx-font-size: 1.8em;
    -fx-wrap-text: true;
}

.main__footer {
    -fx-padding: 20px 0;
    -fx-alignment: center;
}

.main__upload_btn {
    -fx-pref-width: 200px;
    -fx-pref-height: 60px;
    -fx-font-size: 1.4em;
}

.main__clear_btn {
    -fx-pref-width: 200px;
    -fx-pref-height: 60px;
    -fx-font-size: 1.4em;
}

.jfx-snackbar-content {
    -fx-background-color: -wa-gray-dark;
    -fx-background-radius: 5px;
    -fx-font-size: 1.4em;
}

.jfx-snackbar-toast {
    -fx-text-fill: -wa-white;
}

.jfx-snackbar-action {
    -fx-text-fill: -wa-white;
}

.main__progress {
    -fx-font-size: 1.8em;
}
