.media-table-view .column-header-background {
    -fx-pref-height: 48px;
}

.media-table-view .column-header {
    -fx-cursor: hand;
    -fx-padding: 0;
    -fx-background-color: -wa-primary-light;
    -fx-border-color: transparent -wa-gray-light -wa-gray-light transparent;
}

.media-table-view .column-header:last-visible {
    -fx-border-color: transparent transparent -wa-gray-light transparent;
}

.media-table-view .column-header .label {
    -fx-alignment: center-left;
    -fx-font-size: 1.25em;
    -fx-font-weight: 700;
    -fx-text-fill: -wa-gray-darker;
}

.media-table-view .column-header .arrow {
    -fx-background-color: -wa-gray-light;
}

.media-table-view .table-row-cell {
    -fx-background-color: -wa-gray-light, -wa-white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0;
}

.media-table-view .table-row-cell:hover {
    -fx-background-color: -wa-gray-light, -wa-primary-light;
}

.media-table-view .table-row-cell:empty {
    -fx-background-color: transparent;
}

.media-table-view .table-cell {
    -fx-pref-height: 48px;
    -fx-padding: 0;
    -fx-alignment: center-left;
    -fx-border-color: transparent -wa-gray-light transparent transparent;
}

.media-table-view .table-cell:last-visible {
    -fx-border-color: transparent;
}

.media-table-view .table-row-cell:selected .table-cell {
    -fx-border-color: transparent -wa-gray-light transparent transparent;
}

.media-table-view .table-row-cell:empty .table-cell {
    -fx-border-color: transparent;
}

.media-table-view .placeholder {
    -fx-alignment: center;
    -fx-spacing: 12px;
}

.media-table-view .placeholder-icon .ikonli-font-icon {
    -fx-icon-size: 60px;
    -fx-icon-color: -wa-gray-light;
}

.media-table-view .placeholder-text {
    -fx-font-size: 1.5em;
    -fx-text-fill: -wa-gray-light;
}

.media-table-view .checkbox-column,
.media-table-view .checkbox-column .label {
    -fx-padding: 0;
    -fx-alignment: center;
}

.media-table-view .checkbox-column,
.media-table-view .table-row-cell:selected .checkbox-column {
    -fx-background-color: -wa-primary-light;
    -fx-border-color: transparent -wa-gray-light -wa-gray-light transparent;
}

.media-table-view .table-row-cell:empty .checkbox-column {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.media-table-view .file-column {
    -fx-text-fill: -wa-primary;
    -fx-font-size: 1.25em;
    -fx-font-weight: 700;
    -fx-padding: 0 5;
}

.media-table-view .media-combo-box {
    -fx-max-width: infinity;
    -jfx-unfocus-color: transparent;
    -jfx-focus-color: transparent;
    -fx-font-size: 1.25em;
    -fx-padding: 0 5;
    -fx-prompt-text-fill: -wa-gray-darker;
}

.media-table-view .media-combo-box .arrow {
    -fx-background-color: -wa-gray-darker;
}

.media-table-view .media-combo-box--filter .arrow {
    -fx-shape: "M6 13h12v-2H6M3 6v2h18V6M10 18h4v-2h-4z";
    -fx-padding: 7px 10px;
}

.media-table-view .media-combo-box:editable:focused {
    -jfx-focus-color: -wa-primary;
    -fx-prompt-text-fill: transparent;
}

.media-table-view .status {
    -fx-alignment: center-left;
    -fx-spacing: 5px;
    -fx-padding: 0 5;
}

.media-table-view .status:error:hover {
    -fx-cursor: hand;
}

.media-table-view .status .status-alert .ikonli-font-icon {
    -fx-icon-color: -wa-red;
    -fx-icon-size: 20px;
}

.media-table-view .status .status-title {
    -fx-text-fill: -wa-green;
    -fx-font-size: 1.25em;
}

.media-table-view .status:error .status-title {
    -fx-text-fill: -wa-red;
}

.media-table-view .media-text-field {
    -fx-max-width: 85px;
    -jfx-unfocus-color: transparent;
    -jfx-focus-color: -wa-primary;
    -fx-font-size: 1.25em;
    -fx-padding: 5 0 5 5;
    -fx-prompt-text-fill: -wa-gray-darker;
}

.media-table-view .media-text-field:focused {
    -fx-prompt-text-fill: transparent;
}