.progress-dialog {
    -fx-pref-width: 360px;
    -fx-pref-height: 160px;
    -fx-background-color: -wa-white;
}

.progress-dialog__header {
    -fx-spacing: 10px;
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-pref-height: 72px;
    -fx-alignment: center-left;
    -fx-padding: 12 16;
}

.progress-dialog__header .label {
    -fx-text-fill: -wa-primary;
}

.progress-dialog__header .ikonli-font-icon {
    -fx-icon-size: 24px;
    -fx-icon-color: -wa-primary;
}

.progress-dialog__body {
    -fx-spacing: 16;
    -fx-padding: 16 12;
    -fx-text-alignment: justify;
    -fx-background-color: -wa-white;
    -fx-alignment: top-left;
}

.progress-dialog__message {
    -fx-text-fill: -wa-gray-darker;
    -fx-font-size: 1.4em;
    -fx-wrap-text: true;
}