.root {
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-background-color: -wa-white;
}

* {
    -wa-primary-common: #0056D1;
    -wa-primary-light-common: #EEF0FF;
    -wa-accent-common: #01A299;
    -wa-accent-light-common: #C8FFF4;

    -wa-gray-darker: #1A1A1A;
    -wa-gray-dark: #333333;
    -wa-gray: #B3B3B3;
    -wa-gray-light: #D9D9D9;
    -wa-gray-lighter: #F2F2F2;
    -wa-gray-semitransparent: #1A1A1ACC;

    -wa-white: #FFF;

    -wa-red: #980E11;
    -wa-red-light: #FFCCCC;
    -wa-red-lighter: #FFE6E6;
    -wa-red-dark: #6F0608;

    -wa-green: #006600;
    -wa-green-light: #009933;
    -wa-green-dark: #003300;

    -wa-shadow0: dropshadow(gaussian, rgba(0, 0, 0, 0.0), 0, 0, 0, 0);
    -wa-shadow1: dropshadow(gaussian, rgba(0, 0, 0, 0.24), 2, 0, 0, 1);
    -wa-shadow2: dropshadow(gaussian, rgba(0,0,0,0.23), 6, 0, 0, 3);
}
