.root {
    -fx-font-family: Arial, Helvetica, sans-serif;
}

* {
    -wa-primary: #0056D1;
    -wa-primary-light: #EEF0FF;
    -wa-primary-dark: #00377C;

    -wa-accent: #01A299;
    -wa-accent-light: #C8FFF4;
    -wa-accent-dark: #00B0FF;

    -wa-gray-darker: rgba(26,26,26,1);
    -wa-gray-dark: rgba(26,26,26,0.8);
    -wa-gray: rgba(26,26,26,0.6);
    -wa-gray-light: rgba(26,26,26,0.4);
    -wa-gray-lighter: rgba(26,26,26,0.1);

    -wa-white: #FFF;

    -wa-shadow0: dropshadow(gaussian, rgba(0, 0, 0, 0.0), 0, 0, 0, 0);
    -wa-shadow1: dropshadow(gaussian, rgba(0, 0, 0, 0.24), 2, 0, 0, 1);
    -wa-shadow2: dropshadow(gaussian, rgba(0,0,0,0.23), 6, 0, 0, 3);
}
