<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>File</th>
                <th>Status</th>
                <th>Reason</th>
            </tr>
            <tr th:each="result:${results}">
                <td th:text="${result.file.name}"></td>
                <td th:text="${result.status}"></td>
                <td th:text="${result.message}"></td>
            </tr>
        </thead>
    </table>
</body>